/* Miscelaneous*/
@import url("https://fonts.googleapis.com/css2? family= Poppins:ital,wght@0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500 & display=swap");

/* Variables */
/* Normalize */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Globales */
html {
  font-size: 62.5%;
  font-family: poppins;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

/* Ayudas */
.flex-colum {
  display: flex;
  flex-direction: column;
}

/*Partials*/
header {
  display: inline-block;
  width: 100%;
  background-color: var(#FFEAEE);
}

.navbar {
  background-color: #FFEAEE;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  gap: 1rem;
  padding: 5rem 2rem;
  flex-grow: 0;
}

.navbar .collapse {
  flex-grow: 0;
}

.menu {
  color: white;
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.menu__item {
  border: 5px solid #5D8A7C;
  background-color: #5D8A7C;
  border-radius: 10px;
  font-family: "Poppins";
  color: white;
}

.menu__item:hover {
  border: 5px solid #95B8AD;
  background-color: #95B8AD;
}

.menu .menu__item .menu__link {
  font-size: 1.2em;
  padding: 0.5rem;
  font-family: "Poppins";
}

.menu .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
  color: white;
}
.navbar-light .navbar-nav .nav-link{
  color: white;
}


footer {
  background-color: #FFEAEE;
}

footer .foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 5rem 2rem;
}

footer .boto {
  font-size: 1.2em;
  font-family: "Poppins";
  color: white;
  border: 3px solid #5D8A7C;
  background-color: #5D8A7C;
  border-radius: 20px;
}

footer .boto .boto:hover {
  border: 3px solid #95B8AD;
  background-color: #95B8AD;
}

footer .redes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-basis: 30%;
}

/*Viewssass*/
.titulo {
  font-family: "Poppins";
  font-size: 3.5em;
  font-style: italic;
  justify-content: center;
  text-align: center;
  margin: 3rem;
}

.presentacion {
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "presentacion__parrafo     presentacion__picture2  "
    "presentacion__picture      presentacion__parrafo2  ";
}

.presentacion__picture {
  grid-area: presentacion__picture;
}

.presentacion__picture2 {
  grid-area: presentacion__picture2;
}

.presentacion__img {
  width: 100%;
  margin: 2rem;
}

.presentacion__parrafo {
  font-family: "Poppins";
  grid-area: presentacion__parrafo;
  font-style: normal;
  font-size: 2em;
  padding: 1em;
}

.presentacion__parrafo2 {
  font-family: "Poppins";
  grid-area: presentacion__parrafo2;
  font-style: normal;
  font-size: 2em;
  padding: 1em;
  text-align: right;
  margin: 1rem;
}

.img-img-1 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../../assets/img/img-1.jpg");
}

.img-img-2 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../../assets/img/img-2.jpg");
}

.img-img-3 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url("../../assets/img/img-3.jpg");
}

.boton__contacto {
  display: flex;
  justify-content: space-around;
}

.boton__contacto1 {
  font-size: 1.2em;
  font-family: "Poppins";
  color: black;
  border: 3px solid #5D8A7C;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  background-color: #FFEAEE;
}

.titulo__contacto {
  text-align: center;
  font-family: "Poppins";
  background-color: #FF849C;
}

.titulo__contacto2 {
  text-align: center;
  font-family: "Poppins";
}

.fondocontacto {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #5D8A7C;
}

/* Galeria*/
.bodygaleria {
  background-image: linear-gradient(to top, #ffeaee, #ffeaee, #ffeaee, #ffeaee, #ffeaee, #ffe2e7, #ffd9e1, #ffd1da, #ffbecb, #ffabbc, #ff98ac, #ff849c);
}

.header_galeria {
  background-color: #ffabbc;
}

img {
  width: 100%;
}

.galeria {
  justify-items: center;
  align-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "primertitulogal segundotitulogal"
    "masaje                       mascarita"
    "hialuronico                  peeling";
}

.primertitulogal {
  grid-area: primertitulogal;
  text-align: center;
}

.masaje {
  grid-area: masaje;
}

.hialuronico {
  grid-area: hialuronico;
}

.segundotitulogal {
  grid-area: segundotitulogal;
  text-align: center;
}

.mascartia {
  grid-area: mascarita;
}

.peeling {
  grid-area: peeling;
}

.bodynosotros {
  background-color: #FFEAEE;
}

h2 {
  font-size: 3.5em;
  font-style: italic;
  font-family: "Poppins";
}

h3 {
  font-size: 1.8em;
  font-style: bold;
  font-family: "Poppins";
}

.img {
  width: 100%;
}

.textohistoria {
  font-size: 1.2em;
  margin: 50px;
  text-align: center;
  flex-basis: 50%;
  font-family: "Poppins";
}

.nosotros {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "historia           profesionales "
    "historia              profesionales";
}

.historia {
  grid-area: historia;
}

.profesionales {
  margin-right: 3rem;
  grid-area: profesionales;
}

.botonnosotros {
  font-size: 1.2em;
  font-family: "Poppins";
  color: white;
  border: 3px solid #5D8A7C;
  background-color: #5D8A7C;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
}

.botonnosotros .botonnosotros:hover {
  border: 3px solid #95B8AD;
  background-color: #95B8AD;
  color: white;
}

a.botonnosotros:hover{
  border: 3px solid #95B8AD;
  background-color: #95B8AD;
  color: white;
}

.primert_nosotros {
  text-align: center;
}

.profesionales {
  align-items: center;
  justify-items: center;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "segundot_nosotros segundot_nosotros segundot_nosotros "
    " primerprofesional segundoprofesional tercerprofesional"
    " botonnosotros botonnosotros botonnosotros ";
}

.segundot_nosotros {
  grid-area: segundot_nosotros;
  text-align: center;
}

.primerprofesional {
  grid-area: primerprofesional;
  text-align: center;
}

.segundoprofesional {
  grid-area: segundoprofesional;
  text-align: center;
}

.tercerprofesional {
  grid-area: tercerprofesional;
  text-align: center;
}

.botonnosotros {
  grid-area: botonnosotros;
}

/*PRODUCTOS*/

.carousel-control-next, .carousel-control-prev{
  position: relative;
}


.bodyproductos {
  background-color: #FFEAEE;
}

.nosprod {
  font-size: 3.5em;
  font-style: italic;
  text-align: center;
}

.galeriadeproductos {
  margin: 5rem;
  display: grid;
  grid-gap: 20px;
  /* grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr); */
  grid-template-areas: "prod3 prod4  prod5 ";
}

.prod1 {
  grid-area: prod1;
}

.prod2 {
  grid-area: prod2;
}

.prod3 {
  grid-area: prod3;
}

.prod4 {
  grid-area: prod4;
}

.prod5 {
  grid-area: prod5;
}

.prod7 {
  text-align: center;
  padding: 1rem;
}

.pproductos,
.pproductos1,
.pproductos2,
.pproductos3 {
  text-align: center;
  font-family: "Poppins";
  color: #5D8A7C;
  font-size: 1.2em;
  background-color: white;
  font-weight: bold;
  margin: 5rem;
}

.pproductos1,
.pproductos2,
.pproductos3 {
  margin: 0%;
}