<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinLovers -  Contacto</title>
    <link rel="shortcut icon" href="../img/corazonverde.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header>
        <!-- Navegador contacto -->
        <nav class="navbar flex-row contenedor-header">
            <picture class="logo">
                <a href="../../index.html"><img src="../img/logoskinlovers.png" alt="Logodemarca"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item"><a href="../../index.html" class="menu__link">INICIO</a></li>
                <li class="menu__item"><a href="../views/nosotros.html" class="menu__link">NOSOTROS</a></li>
                <li class="menu__item"><a href="../views/productos.html" class="menu__link">PRODUCTOS</a></li>
                <li class="menu__item"><a href="../views/contacto.html" class="menu__link">CONTACTO</a></li>
                <li class="menu__item"><a href="../views/galeria.html" class="menu__link">GALERIA</a></li>
            </ul>
        </nav>
    </header>
<!-- Espacio para el cliente donde llena el formulario -->
    <main>
        <h1>Contacto para clientes</h1>
        <h2>Dejanos tus datos, juntos buscaremos la mejor rutina para tu piel!</h2>

        <form action="">
            <label for="Nombre">Nombre:</label>
            <input type="text" name="Nombre" id="Nombre"> <br>
            <label for="Apellido">Apellido:</label>
            <input type="text" name="Apellido" id="Apellido"> <br>
            <label for="Dirección">Dirección:</label>
            <input type="text" name="Dirección" id="Dirección"> <br>
            <label for="Teléfono de contacto">Teléfono de contacto:</label>
            <input type="number" name="Telefono de contacto" id="Teléfono de contacto"><br>
            <label for="Email">Email:</label>
            <input type="email" name="email" id="Email"> <br>
            <label for="Tipo de piel">Seleccioná tu tipo de piel</label>
            <select name="Tu tipo de piel" id="Tu tipo de piel">
                <option value="Normal">Normal</option>
                <option value="Seca">Seca</option>
                <option value="Mixta">Mixta</option>
                <option value="Grasa">Grasa</option>
            </select>
            <button type="submit">Enviar datos</button>
        </form>
    </main>
<!-- Footer de contacto -->
    <footer>
        <section class=" foot flex-row contenedor-footer">
            <button class="boto">Terminos y condiciones</button>
            <button class="boto">Politica de privacidad</button>

            <picture class="logosololetra">
                <img src="../img/logoletrasolo.png" alt="LogoletrasSkinlovers">
            </picture>
            <ul class="redes flex-row">
                <li><a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.jpg"
                            alt=""></a></li>
                <li><a href="http://www.instagram.com" target="_blank"><img src="../img/instagram.jpg"
                            alt=""></a></li>
                <li><a href="http://www.Whatsapp.com" target="_blank"><img src="../img/whatsapp.jpg"
                            alt=""></a></li>
            </ul>
        </section>
    </footer>

</body>

</html>