<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PROFESIONALES DE LA SALUD, PROFESIONALES A CARGO, HISTORIA, MARCA, EMPRESA, QUIENES SOMOS, COSMÉTICOS, NUESTRA HISTORIA">
    <meta name="description" content="Te contaamos sobre los valores de la marca, nuestra historia y nuestro público objetivo. Mostramos nuestros profesionales que están capacitados para ayudarte.">
    <title>NOSOTROS - SkinLovers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/corazonverde.png" type="image/x-icon">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="bodynosotros">
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html"><img src="../img/logoskinlovers.png"
                        alt="Logodemarca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="menu collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="menu navbar-nav me-auto mb-2 mb-lg-0">
                        <li class=" menu menu__item nav-item">
                            <a class="nav-link active" aria-current="page" href="../../index.html">INICIO</a>
                        </li>
                        <li class=" menu menu__item nav-item">
                            <a class="nav-link" href="../views/nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="menu menu__item nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                PRODUCTOS
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item"
                                        href="../views/productos.html">Nuestros
                                        productos</a></li>
                                <li><a class="dropdown-item"
                                        href="../views/galeria.html">Galería de
                                        imagenes</a></li>
                            </ul>
                        </li>
                        <li class="menu menu__item nav-item">
                            <a class="nav-link" href="../views/contacto.html">CONTACTANOS!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <!-- Main con dos secciones: Historia y profesionales  -->
    <main>
        <section class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <article class="historia">
                <h2 class=" primert_nosotros">CONOCE MÁS DE NOSOTROS! </h2>
                <p class="textohistoria"> SkinLovers fue fundado en Agosto del 2019 con la creencia de que todos tenemos
                    el poder de
                    hacer una diferencia con nuestras elecciones.

                    Ponemos a tu alcance productos que no solo te permitan tener una piel radiante, sino que también
                    formulen sus productos de manera ética y responsable con el medio ambiente.

                    Curamos las marcas de clean beauty con la siguiente filosofía: las pequeñas acciones hacen la
                    diferencia. Nuestras #SkinLove ponen tu salud, la del medio ambiente y la de los animales como su
                    prioridad. !
                    Libre de tóxicos es mejor para el planeta y más gentil con tu piel. Probamos cada producto y leemos
                    cada etiqueta asegurándonos que los ingredientes sean seguros y de la más alta calidad. Consultamos
                    cada ingrediente dentro de tus productos con el Environmental Working Group, la base de datos más
                    grande en cuanto a la seguridad de los ingredientes.
                </p>
            </article>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <article class="profesionales">
                <h2 class="segundot_nosotros"> NUESTROS PROFESIONALES</h2>
                <div class="primerprofesional">
                    <picture>
                        <img src="../img/profesional 1.png" alt="Dra Mercedes Cano Profesional">
                    </picture>
                    <h3>Dra Mercedes Cano</h3>
                    <p>
                        Especialista en:
                        Criocirugía dermatológica, Dermatología clínica, Psoriasis.
                    </p>
                </div>
                <div class="segundoprofesional">
                    <picture>
                        <img src="../img/profesional 2.png" alt="Dr Gustavo Ponssa Profesional">
                    </picture>
                    <h3>Dr Gustavo Ponssa</h3>
                    <p>Especialista en:
                        Dermatólogo, Alergista, Analista clínico, Patólogo.</p>
                </div>
                <div class="tercerprofesional">
                    <picture>
                        <img src="../img/profesional 3.png" alt="Dra Natalia Sosa Profesional">
                    </picture>
                    <h3>Dra Natalia Sosa</h3>
                    <p>Especialista en:
                        Dermatología pediátrica, Laser CO2 y Neodimio Yag,
                        Radiofrecuencia.</p>
                </div>
                <a href="../views/productos.html" class="botonnosotros"> Productos recomendados por nuestros
                    profesionales</a>
                </div>
            </article>
        </section>
    </main>



    <!-- Footer  nosotros -->
    <footer>
        <section class=" foot contenedor-footer">
            <button class="boto">Terminos y condiciones</button>
            <button class="boto">Politica de privacidad</button>

            <picture class="logosololetra">
                <img src="../img/logoletrasolo.png" alt="LogoletrasSkinlovers">
            </picture>
            <ul class="redes">
                <li><a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.jpg" alt=""></a></li>
                <li><a href="http://www.instagram.com" target="_blank"><img src="../img/instagram.jpg" alt=""></a></li>
                <li><a href="http://www.Whatsapp.com" target="_blank"><img src="../img/whatsapp.jpg" alt=""></a></li>
            </ul>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>