<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkinLovers - Productos</title>
    <link rel="shortcut icon" href="../img/corazonverde.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="bodyproductos">
    <header>
        <!-- Navegador  productos -->
        <nav class="navbar flex-row contenedor-header">
            <picture class="logo">
                <a href="../../index.html"><img src="../img/logoskinlovers.png" alt="Logodemarca"></a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item"><a href="../../index.html" class="menu__link">INICIO</a></li>
                <li class="menu__item"><a href="../views/nosotros.html" class="menu__link">NOSOTROS</a></li>
                <li class="menu__item"><a href="../views/productos.html" class="menu__link">PRODUCTOS</a></li>
                <li class="menu__item"><a href="../views/contacto.html" class="menu__link">CONTACTO</a></li>
                <li class="menu__item"><a href="../views/galeria.html" class="menu__link">GALERIA</a></li>
            </ul>
        </nav>
    </header>
    <!-- imagenes de nuestros productos con sus nombres y caracteristicas  -->
    <main>
        <h2 class="nosprod contenedor-texto">Nuestros productos</h2>
        <h3 class="prod7"> Best Sellers</h3>
        <section class="galeriadeproductos contenedor-texto">
            <picture class="prod1">
                <img src="../img/Producto1.jpg" alt="" width="400px">
            </picture>
            <picture class="prod2">
                <img src="../img/Producto 2.jpg" alt="" width="400px">
            </picture>
            <picture class="prod3">
                <img src="../img/Producto 3.jpg" alt="" width="200px">
            </picture>
            <picture class="prod4">
                <img src="../img/Producto 4.jpg" alt="" width="200px">
            </picture>
            <picture class="prod5">
                <img src="../img/Producto 5.jpg" alt="" width="200px">
            </picture>
        </section>
    </main>
    <!-- Footer productos-->
    <footer>
        <section class=" foot flex-row contenedor-footer">
            <button class="boto">Terminos y condiciones</button>
            <button class="boto">Politica de privacidad</button>

            <picture class="logosololetra">
                <img src="../img/logoletrasolo.png" alt="LogoletrasSkinlovers">
            </picture>
            <ul class="redes flex-row">
                <li><a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.jpg" alt=""></a></li>
                <li><a href="http://www.instagram.com" target="_blank"><img src="../img/instagram.jpg" alt=""></a></li>
                <li><a href="http://www.Whatsapp.com" target="_blank"><img src="../img/whatsapp.jpg" alt=""></a></li>
            </ul>
        </section>
    </footer>




</body>

</html>