
.boton__contacto{
display: flex;
justify-content: space-around;

    &1{
        font-size: $texto-md;
        font-family: $font-primary;
        color: black;
        border: 3px solid  $secundario;
        border-radius: 20px;
        text-align: center;
        padding: 1rem;
        background-color: $principal;
    }
}


.titulo__contacto{
    text-align: center;
    font-family: $font-primary;
    background-color: $cuatro;
}

    .titulo__contacto2{
        text-align: center;
        font-family: $font-primary;
}

.fondocontacto{
    max-width: 1080px;
    margin: 0 auto;
    background-color: $secundario;
}
