
.boton__contacto{
    font-size: $texto-md;
    font-family: $font-primary;
    color: white;
    border: 3px solid  $secundario;
    background-color:  $secundario;
    border-radius: 20px;
    text-align: center;
    padding: 1rem;
    background-color: #5D8A7C;
}

.titulo__contacto{
    text-align: center;
}

.titulo__contacto2{
    text-align: center;
}


