
.titulo {
    font-family: $font-primary;
    font-size: $texto-lg;
    font-style: italic;
    justify-content: center;
    text-align: center;
    margin: 3rem;
}

.presentacion {
    align-items: center;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
        "presentacion__parrafo     presentacion__picture2  "
        "presentacion__picture      presentacion__parrafo2  ";

    &__picture {
        grid-area: presentacion__picture;
    }

    &__picture2 {
        grid-area: presentacion__picture2;
    
    }

    &__img {
        width: 100%;
        margin: 2rem;
    }

    &__parrafo {
        font-family: $font-primary;
        grid-area: presentacion__parrafo;
        font-style: normal;
        font-size: 2em;
        padding: 1em;
    }

    &__parrafo2 {
        font-family: $font-primary;
        grid-area: presentacion__parrafo2;
        font-style: normal;
        font-size: 2em;
        padding: 1em;
    }

}


// @for $i from 1 through 3 {
//     .img-#{$i} {
//         width: 100%;
//         // height: 500px;
//         background-size: cover;
//         background-image: url("../../assets/img/img-#{$i}.jpg");
//     }
// }

$images: (
    img-1: "img-1",
    img-2:"img-2",
    img-3:"img-3",
);

@each $image, $value in $images {
    .img-#{$image} {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-image: url("../../assets/img/#{$value}.jpg");
    }
}

