footer {
    background-color:  $principal;
  

    .foot {
        @include flex (row, space-between, center, 2rem);
        padding: 5rem 2rem;
    }

    .boto {
        font-size: $texto-md;
        font-family: $font-primary;
        color: white;
        border: 3px solid  $secundario;
        background-color:  $secundario;
        border-radius: 20px;

        .boto:hover {
            border: 3px solid $terciario;
            background-color: $terciario;
        }
    }

    .redes {
        @include flex (row, space-between, center, 2rem);
        flex-basis: 30%;
    }

// $boto: ( /* declaramos nuestro mapa */
// terminos: #5D8A7C,
// privacidad: #FF849C,
// );

// @each $red,$color in $boto {
//     .btn--#{$red}{
//         background-color: $color;
//     }
    
// }





    @media screen and (max-width: 768px) {
        .foot {
            padding: 0 2em;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column;
        }
    
        .boto {
            margin: 0.5em;
        }
    }


}