header {
    display: inline-block;
    background-color: $principal;
    width: 100%;
    

    .navbar {
        min-height: 10vh;
        @include flex (row, space-between, center, 2rem);
        padding: 5rem 2rem;
    }

    .menu {
        flex-basis: 40%;
        @include flex (row, space-between, center, 2rem);


        &__item {
            border: 5px solid $secundario;
            background-color: $secundario;
            border-radius: 10px;
            font-family: $font-primary;
        }

        &__item:hover {
            border: 5px solid $terciario;
            background-color: $terciario;
        
        }

        & &__item &__link {
            font-size: $texto-md;
            padding: 0.5rem;
            font-family:  $font-primary;
        }
    } 

    @media screen and (max-width: 768px) {

        header {
            padding: 2em;

            .navbar {
                flex-wrap: wrap;
                justify-content: center;
            }

        }
    }

    @media screen and (max-width:320px) {

        header .navbar {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    
}
