header {
    display: inline-block;
    width: 100%;
    background-color: var($principal);

}


    .navbar {
        min-height: 10vh;
        @include flex (row, space-between, left, 1rem);
        padding: 5rem 2rem;
        flex-grow: 0;

        .collapse {
            flex-grow: 0;
        }

    }

    .menu {
        color: white;
        flex-basis: 40%;
        @include flex (row, space-between, center, 2rem);


        &__item {
            border: 5px solid $secundario;
            background-color: $secundario;
            border-radius: 10px;
            font-family: $font-primary;
            color: white;
        }

        &__item:hover {
            border: 5px solid $terciario;
            background-color: $terciario;
        
        }

        & &__item &__link {
            font-size: $texto-md;
            padding: 0.5rem;
            font-family:  $font-primary;
        }

        .nav-link  {
    color: white;
}


    } 




    // @media screen and (max-width: 768px) {

    //     header {
    //         padding: 2em;

    //         .navbar {
    //             flex-wrap: wrap;
    //             justify-content: center;
    //         }

    //     }
    // }

    // @media screen and (max-width:320px) {

    //     header .navbar {
    //         flex-wrap: wrap;
    //         justify-content: center;
    //     }
    // }
    

