/* Ayudas */

@mixin flex ($direction: row, $justify: flex-start, $align: flex-start, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap
}



.flex-colum {
    display: flex;
    flex-direction: column;
}

// .contenedor-header {
//     max-width: 1257px;
//     margin: 0 auto;
// }

// .contenedor-texto {
//     max-width: 1146px;
//     margin: 0 auto;
// }

// .contenedor-footer {
//     max-width: 1262px;
//     margin: 0 auto;
// }