/* Variables */

    $principal: #FFEAEE;
    $secundario: #5D8A7C;
    $terciario: #95B8AD;
    $cuatro: #FF849C;
    $cuarto: white;
    $font-primary: "Poppins";
    $texto-lg: 3.5em;
    $texto-md: 1.2em;
    $texto-min: 1.8